.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.background{
    background-color: darkgray;
    grid-column: 2/3;
    grid-row: 1/2;
}
img {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: -1;
    width: 100%;

}
h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    text-align: center;
    align-self: center;
    font-size: 12em;
}
h4{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self:self-end;
    text-align:center;
    color: red;
    font-size: 5em;
}
